.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container header {
  margin: 1rem 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
}

.container header div {
  display: flex;
  align-items: center;
}

.container input {
  width: 50%;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #e6e6e6;
  font-size: 1rem;
}

.container button {
  width: 50%;
  padding: 1.5rem;
  font-weight: 700;
  background-color: #ea4c54;
  color: white;
  border-radius: 1rem;
  margin: 12px 0;
  cursor: pointer;
  border: none;
  transition: filter 0.2s;
  font-size: 1rem;
}

.container button:hover {
  filter: brightness(0.6);
}
